.body-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-bg.png');
  height: 90vh;
  background-size: cover;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reset-button-img {
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
}
.button-text {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 15px;
}

.score {
  font-family: 'Roboto';
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.trophy {
  height: 100px;
  width: 140px;
  align-self: flex-start;
  margin-left: 54px;
  margin-top: 20px;
}

.reset-button {
  background-color: #cf60c8;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 130px;
  border-radius: 10px;
}

.pop-up-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-sm-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-size: 100% 100%;
}

.main-img {
  width: 300px;
}

.image-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-left: 50px;
}

.container {
  height: 100vh;
}

.heading {
  color: #ffffff;
  padding: 10px;
  text-align: center;
}

.un-order-tab-list {
  padding-left: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
}

@media screen and (min-width: 765px) {
  .pop-up-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/match-game-score-card-lg-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 300px;
    background-size: 100% 100%;
  }
  .trophy {
    height: 100px;
    width: 150px;
    align-self: flex-start;
    text-align: center;
    margin-left: 70px;
    margin-top: 70px;
  }
  .reset-button {
    height: 40px;
    width: 150px;
  }
  .reset-button-img {
    font-size: 10px;
  }
  .button-text {
    font-size: 15px;
  }
  .main-img {
    width: 400px;
  }
}

