.navbar {
  height: 10vh;
  width: 100%;
  background-color: #2c0e3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
}

.score-num {
  font-size: 20px;
  color: #fec653;
}

.timer-img {
  width: 20px;
  margin-right: 10px;
}

.timer-para {
  font-family: 'Roboto';
  color: #fec653;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

.timer-con {
  display: flex;
  align-items: center;
}

.score {
  font-family: 'Roboto';
  color: #ffffff;
  margin-right: 25px;
  margin-top: 10px;
}

.navbar-img {
  width: 140px;
}

.navbar-sub-con {
  display: flex;
  align-items: center;
  list-style-type: none;
}
