.images {
  height: 70px;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.small-images-buttons {
  background-color: transparent;
  border: none;
  margin: 0px;
  padding: 0px;
  outline: none;
}

@media screen and (min-width: 765px) {
  .images {
    height: 90px;
    width: 90px;
  }
}
